<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.lottery.mapper.WinTransactionsMapper">
    
    <resultMap type="WinTransactions" id="WinTransactionsResult">
        <result property="id"    column="id"    />
        <result property="time"    column="time"    />
        <result property="acctnbr"    column="acctnbr"    />
        <result property="inpDate"    column="inp_date"    />
        <result property="inpTime"    column="inp_time"    />
        <result property="xtranno"    column="xtranno"    />
        <result property="billAmt"    column="bill_amt"    />
        <result property="org1Code"    column="org1_code"    />
        <result property="orgNo"    column="org_no"    />
        <result property="custIsn"    column="cust_isn"    />
        <result property="cardStatusTxt"    column="card_status_txt"    />
        <result property="custName"    column="cust_name"    />
        <result property="certNo"    column="cert_no"    />
        <result property="cardNo"    column="card_no"    />
        <result property="orgName"    column="org_name"    />
    </resultMap>

    <sql id="selectWinTransactionsVo">
        select id, time, acctnbr, inp_date, inp_time, xtranno, bill_amt, org1_code, org_no, cust_isn, card_status_txt, cust_name, cert_no, card_no, org_name from win_transactions
    </sql>

    <select id="selectWinTransactionsList" parameterType="WinTransactions" resultMap="WinTransactionsResult">
        <include refid="selectWinTransactionsVo"/>
        <where>  
            <if test="time != null "> and time = #{time}</if>
            <if test="acctnbr != null "> and acctnbr = #{acctnbr}</if>
            <if test="inpDate != null "> and inp_date = #{inpDate}</if>
            <if test="inpTime != null "> and inp_time = #{inpTime}</if>
            <if test="xtranno != null "> and xtranno = #{xtranno}</if>
            <if test="billAmt != null "> and bill_amt = #{billAmt}</if>
            <if test="org1Code != null  and org1Code != ''"> and org1_code = #{org1Code}</if>
            <if test="orgNo != null  and orgNo != ''"> and org_no = #{orgNo}</if>
            <if test="custIsn != null  and custIsn != ''"> and cust_isn = #{custIsn}</if>
            <if test="cardStatusTxt != null  and cardStatusTxt != ''"> and card_status_txt = #{cardStatusTxt}</if>
            <if test="custName != null  and custName != ''"> and cust_name like concat('%', #{custName}, '%')</if>
            <if test="certNo != null  and certNo != ''"> and cert_no = #{certNo}</if>
            <if test="cardNo != null  and cardNo != ''"> and card_no = #{cardNo}</if>
            <if test="orgName != null  and orgName != ''"> and org_name like concat('%', #{orgName}, '%')</if>
        </where>
    </select>
    
    <select id="selectWinTransactionsById" parameterType="Long" resultMap="WinTransactionsResult">
        <include refid="selectWinTransactionsVo"/>
        where id = #{id}
    </select>

    <insert id="insertWinTransactions" parameterType="WinTransactions" useGeneratedKeys="true" keyProperty="id">
        insert into win_transactions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="time != null">time,</if>
            <if test="acctnbr != null">acctnbr,</if>
            <if test="inpDate != null">inp_date,</if>
            <if test="inpTime != null">inp_time,</if>
            <if test="xtranno != null">xtranno,</if>
            <if test="billAmt != null">bill_amt,</if>
            <if test="org1Code != null">org1_code,</if>
            <if test="orgNo != null">org_no,</if>
            <if test="custIsn != null">cust_isn,</if>
            <if test="cardStatusTxt != null">card_status_txt,</if>
            <if test="custName != null">cust_name,</if>
            <if test="certNo != null">cert_no,</if>
            <if test="cardNo != null">card_no,</if>
            <if test="orgName != null">org_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="time != null">#{time},</if>
            <if test="acctnbr != null">#{acctnbr},</if>
            <if test="inpDate != null">#{inpDate},</if>
            <if test="inpTime != null">#{inpTime},</if>
            <if test="xtranno != null">#{xtranno},</if>
            <if test="billAmt != null">#{billAmt},</if>
            <if test="org1Code != null">#{org1Code},</if>
            <if test="orgNo != null">#{orgNo},</if>
            <if test="custIsn != null">#{custIsn},</if>
            <if test="cardStatusTxt != null">#{cardStatusTxt},</if>
            <if test="custName != null">#{custName},</if>
            <if test="certNo != null">#{certNo},</if>
            <if test="cardNo != null">#{cardNo},</if>
            <if test="orgName != null">#{orgName},</if>
         </trim>
    </insert>

    <update id="updateWinTransactions" parameterType="WinTransactions">
        update win_transactions
        <trim prefix="SET" suffixOverrides=",">
            <if test="time != null">time = #{time},</if>
            <if test="acctnbr != null">acctnbr = #{acctnbr},</if>
            <if test="inpDate != null">inp_date = #{inpDate},</if>
            <if test="inpTime != null">inp_time = #{inpTime},</if>
            <if test="xtranno != null">xtranno = #{xtranno},</if>
            <if test="billAmt != null">bill_amt = #{billAmt},</if>
            <if test="org1Code != null">org1_code = #{org1Code},</if>
            <if test="orgNo != null">org_no = #{orgNo},</if>
            <if test="custIsn != null">cust_isn = #{custIsn},</if>
            <if test="cardStatusTxt != null">card_status_txt = #{cardStatusTxt},</if>
            <if test="custName != null">cust_name = #{custName},</if>
            <if test="certNo != null">cert_no = #{certNo},</if>
            <if test="cardNo != null">card_no = #{cardNo},</if>
            <if test="orgName != null">org_name = #{orgName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWinTransactionsById" parameterType="Long">
        delete from win_transactions where id = #{id}
    </delete>

    <delete id="deleteWinTransactionsByIds" parameterType="String">
        delete from win_transactions where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="existsCust" parameterType="string" resultType="boolean">
        SELECT CASE WHEN EXISTS (
            SELECT 1 FROM win_transactions WHERE cust_isn = #{custIsn}
        ) THEN TRUE ELSE FALSE END
    </select>

    <select id="getMaxTime" resultType="Long">
        SELECT COALESCE(MAX(time), 0) AS max_time FROM win_transactions
    </select>
</mapper>